<launch>
  <!-- User supplied arguments -->
  <arg name="pointcloud_topic"
       doc="ROS topic for pointcloud input"/>
  <arg name="odometry_input_topic"
       doc="ROS topic for odometry input"/>
  <!-- 直接跑数据集使用部分-->
  <!--
  <arg name="rosbag_path"
       default=""
       doc="Replay the rosbag at the specified path. Can be left blank." />
  <arg name="rosbag_skip_first_n_sec"
       default="0"
       doc="Skip the first n seconds of the rosbag." />
     -->
  <arg name="debug_mode"
       default="false"
       doc="Run the mapper in debug mode." />
  <arg name="show_rviz"
       default="false"
       doc="Automatically launch Rviz." />

  <!-- Play the rosbag, unless no path is specified -->



  <!-- Run voxgraph -->
  <group>
    <arg unless="$(arg debug_mode)" name="launch_prefix" value="" />
    <arg if="$(arg debug_mode)" name="launch_prefix" value="gdb -ex run --args" />

    <node name="voxgraph_mapper" pkg="start_process" type="voxgraph_mapping_node"
          output="screen" launch-prefix="$(arg launch_prefix)">
      <rosparam file="$(find start_process)/config/voxgraph_mapper_live.yaml" />
      <!--添加 start-->
      <!--param name="odom_frame_id" value="odom" /-->
      <param name="pointcloud_topic" value="$(arg pointcloud_topic)" />
      <param name="odometry_input_topic" value="$(arg odometry_input_topic)" />
      <!--param name="odometry_topic" value="$(arg odometry_topic)" /-->
      <!--param name="odometry_input_topic" value="$(arg odometry_input_topic)" /-->
      <!--end-->
    </node>
  </group>

  <!-- Show Rviz -->
  <group if="$(arg show_rviz)">
    <!--arg name="rviz_file" default="$(find start_process)/config/VINS_MeshMapping.rviz" / -->
    <arg name="rviz_file" default="$(find start_process)/config/核应急机器人三维地图构建及空间感知-V1.0.rviz" />
    <node pkg="rviz" type="rviz" name="$(anon rviz)" output="screen"
          args="-d $(arg rviz_file)" />
  </group>
</launch>
